<div class="codeblock">
    {{ if .Get "title" }}
    <span class="title">{{ .Get "title" }}</span>
    {{ end }}
    {{ if .Get "lang" }}
    {{ if .Get "line_numbers" }}
    {{ highlight (trim .Inner "\n\r") (.Get "lang") "linenos=table" }}
    {{ else }}
    {{ highlight (trim .Inner "\n\r") (.Get "lang") "" }}
    {{ end }}
    {{ else }}
    {{ if .Get "plain" }}
    <pre>{{ .Inner }}</pre>
    {{ else }}
    {{ if .Get "line_numbers" }}
    {{ highlight (trim .Inner "\n\r") "" "linenos=table" }}
    {{ else }}
    {{ highlight (trim .Inner "\n\r") "" "" }}
    {{ end }}
    {{ end }}
    {{ end }}
</div>
