<div class="gif-box">
    <video {{ if .Get "poster" }}poster="{{ .Get "poster" }}" {{ end }}autoplay loop muted>
    {{ if .Get "vp9"}}
        <source type="video/webm; codecs=vp9,vorbis"  src="{{ .Get "vp9" }}">
    {{ end }}
    {{ if .Get "vp8"}}
        <source type="video/webm; codecs=vp8,vorbis"  src="{{ .Get "vp8" }}">
    {{ end }}
    {{ if .Get "h264"}}
        <source type="video/mp4"  src="{{ .Get "h264" }}">
    {{ end }}
    </video>
    {{ if .Get "caption"}}
    <figcaption>
        <p>
            {{ .Get "caption" }}
        </p>
    </figcaption>
    {{ end }}
</div>
