<div class="hashtag-analysis-box">
    <table>
        {{ if .Get "tweet-count" }}
        <tr>
            <td style="text-align: center;">
                تعداد توییت
            </td>
            <td style="text-align: center;">
                {{ .Get "tweet-count" }}
            </td>
        </tr>
        {{ end }}
        {{ if .Get "hashtag-usage-count" }}
        <tr>
            <td style="text-align: center;">
                تعداد استفاده از هشتگ
            </td>
            <td style="text-align: center;">
                {{ .Get "hashtag-usage-count" }}
            </td>
        </tr>
        {{ end }}
        <tr>
            <td style="text-align: center;">
                تعداد کاربران شرکت کننده
            </td>
            <td style="text-align: center;">
                {{ if .Get "participant-accounts" }}{{ .Get "participant-accounts" }}
            </td>
        </tr>
        {{ end }}
        {{ if .Get "involved-accounts" }}
        <tr>
            <td style="text-align: center;">
                تعداد کاربران درگیر
            </td>
            <td style="text-align: center;">
                {{ .Get "involved-accounts" }}
            </td>
        </tr>
        {{ end }}
        {{ if .Get "directly-related-hashtags" }}
        <tr>
            <td style="text-align: center;">
                تعداد هشتگ‌های مستقیما مرتبط
            </td>
            <td style="text-align: center;">
                {{ .Get "directly-related-hashtags" }}
            </td>
        </tr>
        {{ end }}
        {{ if .Get "all-related-hashtags" }}
        <tr>
            <td style="text-align: center;">
                کل هشتگ‌های مرتبط
            </td>
            <td style="text-align: center;">
                {{ .Get "all-related-hashtags" }}
            </td>
        </tr>
        {{ end }}
    </table>
    <figcaption>
        <p>
            آمار و ارقام شبکه هشتگ {{ if .Get "hashtag" }}{{ .Get "hashtag" }}{{ end }}
        </p>
    </figcaption>
</div>
