@charset "utf-8";
/* CSS Document */

noscript div {
    direction: rtl;
    font: normal normal normal 12px/1.5em;
    letter-spacing: 1px;
    padding: 5px;
    text-align: center;
    border: 1px solid #F00;
    background: #FFA4A4;
}

body form .search {
    margin-left: 2.0em;
    font-size: 0.95em;
    line-height: 1.2em;
    padding: 0.25em 0.5em 0px;
    font-size: 0.85em;
    font-family: 'Yekan', "PT Sans","Helvetica Neue",Arial,sans-serif;
    border-radius: 0.25em;
    background-clip: padding-box;
    background-color: #151515;
    border: 1px double #FFF;
    color: #FFF;
}

body form .search > ::-webkit-input-placeholder,
body form .search > :-moz-placeholder,
body form .search > ::-moz-placeholder,
body form .search > box-shadow: 0px 1px #FFF;
:-ms-input-placeholder {
    color: #ccc;
}

.navbar .nav > li > span, .navbar .nav > li > a, .navbar .nav li.nolink {
    letter-spacing: 1px !important;
}

.navbar .nav > li > a, .navbar .nav li.nolink {
    font-family: 'Yekan', "Open Sans","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","Source Han Sans CN","WenQuanYi Micro Hei",Arial,sans-serif;
}

.navbar .nav .en-Blog * {
    font-size: 11px;
    padding: 0 8px;
}

@media only screen and (min-width: 1025px) {
    #coverImage {
        background-image: url(/img/cover_high.jpg) !important;
    }
}

@media (max-width: 1024px) {
    #coverImage {
        background-image: url(/img/cover_medium.jpg) !important;
    }
}

@media (max-width:767px) {
    #coverImage {
        background-image: url(/img/cover_low.jpg) !important;
    }
}

.scroll-down {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 96px;
    height: 96px;
    bottom: 128px;
    z-index: 999;
}

.sb-menu.secondary i {
    color: #666;
}

.pagination {
    text-align: center;
    overflow: hidden;
}

.pagination:before,
.pagination:after {
    content: "";
    display: table;
}

.pagination:after {
    clear: both;
}

.pagination .prev {
    float: left;
}

.pagination .next {
    float: right;
}

.pagination .page-number {
    display: inline-block;
    margin: 0 8px;
}

.pagination a {
    overflow: initial !important;
}

.pagination .current {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    border-radius: 20px;
    color: #000;
}

footer .copy p {
    font-size: 0.9em !important;
}

footer .copy a:link {
    text-decoration: none;
    color: #9797A6;
}

footer .copy a:visited {
    text-decoration: none;
    color: #9797A6;
}

footer .copy a:hover {
    text-decoration: underline;
    color: #CCC;
}

footer .copy a:active {
    text-decoration: none;
    color: #9797A6;
}

footer .copy .credit a, footer .copy .license a {
    letter-spacing: 1px;
    margin-left: 4px;
    margin-right: 4px;
}

footer .fa {
    font-size: 1.6em;
}

footer .social {
    letter-spacing: 2px;
}

* {
    font-family: 'Yekan', "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

body {
    font-family: 'Yekan', "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

p {
    font-family: 'Yekan', "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Yekan', "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

h1 span, h2 span, h3 span, h4 span, h6 span, h6 span, .navbar .nav > li > span {
    font-family: 'Yekan', 'Georgia', "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

blockquote p {
    font-family: 'Yekan', 'Georgia', "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

input[placeholder], [placeholder], *[placeholder] {
    font-family: 'Yekan', 'Georgia', "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

.btn {
    font-family: 'Yekan', "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

.navbar .nav > li > a {
    font-family: 'Yekan', 'Montserrat', "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

.navbar .nav li.nolink {
    font-family: 'Yekan', 'Montserrat', "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

.learnmore {
    font-family: 'Yekan', 'Montserrat', "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

.sb-menu li {
    font-family: 'Yekan', 'Open Sans', Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

.sb-menu li a {
    font-family: 'Yekan', 'Open Sans', Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

li.sb-toggle-submenu {
    font-family: 'Yekan', 'Open Sans', Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

#hero p {
    font-family: 'Yekan', 'Georgia', serif, Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

#videohero p, #fallback p {
    font-family: 'Yekan', 'Georgia', serif, 'Open Sans', Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

#blog .pager li > a {
    font-family: 'Yekan', 'Montserrat', Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

#blog #subscribe p {
    font-family: 'Yekan', 'Georgia', serif, Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

#blog-post .author {
    font-family: 'Yekan', 'Georgia', serif, Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

#blog-post p.excerpt {
    font-family: 'Yekan', 'Georgia', serif, Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

#blog-post a.readmore span {
    font-family: 'Yekan', 'Montserrat', Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

#blog-post .published p {
    font-family: 'Yekan', 'Georgia', serif, Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

#featured .byline {
    font-family: 'Yekan', 'Georgia', serif, Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

#statement p {
    font-family: 'Yekan', 'Georgia', serif, Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

.flexslider p {
    font-family: 'Yekan', 'Georgia', serif, Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

#process span.number {
    font-family: 'Yekan', 'Georgia', serif, Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

.timeline-label p {
    font-family: 'Yekan', Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

#process .present, #process .born {
    font-family: 'Yekan', 'Georgia', serif, Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

#pagetabs .page-nav > li > a {
    font-family: 'Yekan', 'Montserrat', Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

#team h3 a {
    font-family: 'Yekan', 'Georgia', serif, Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

.popover-title {
    font-family: 'Yekan', 'Georgia', serif, Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

#overview .overview-text p {
    font-family: 'Yekan', 'Georgia', serif, Helvetica, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

#leftcol .nav > li > a {
    font-family: 'Yekan', 'Montserrat', Helvetica, Arial, sans-serif;
}

.help span {
    font-family: 'Yekan', 'Open Sans', Helvetica, Arial, sans-serif;
}

#faq h3 {
    font-family: 'Yekan', 'Montserrat', Helvetica, Arial, sans-serif;
}

#careers .panel-title {
    font-family: 'Yekan', 'Georgia', serif;
}

#careers .apply h5 a {
    font-family: 'Yekan', 'Georgia', serif;
}

#projects .filter-item a {
    font-family: 'Yekan', 'Montserrat', Helvetica, Arial, sans-serif;
}


ul.filters li p {
    font-family: 'Yekan', 'Montserrat', Helvetica, Arial, sans-serif;
}

#portfolio-item .client p {
    font-family: 'Yekan', 'Georgia', serif;
}

#mailinglist p {
    font-family: 'Yekan', 'Georgia', serif;
}

#contact .well p {
    font-family: 'Yekan', 'Georgia', serif;
}

#contact .form-control {
    font-family: 'Yekan', 'Georgia', serif;
}

#contact .offices li {
    font-family: 'Yekan', 'Georgia', serif;
}

#contact .message-us li {
    font-family: 'Yekan', 'Georgia', serif;
}

#contact .alert-success, #contact .alert-danger {
    font-family: 'Yekan', 'Georgia', serif;
}

.alert {
    font-family: 'Yekan', 'Georgia', serif;
}

footer .extra-wrap h5 {
    font-family: 'Yekan', 'Montserrat', Helvetica, Arial, sans-serif;
}

footer ul.list li a, footer ul.list1 li a {
    font-family: 'Yekan', 'Open Sans', Helvetica, Arial, sans-serif;
}

pre, figure, figure *, figure body, figure h1, figure h2, figure h3, figure h4, figure h5, figure h6, figure p {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif !important;
}

#intro .sharing
{
    text-align: right;
    font-size: 1.8em;
    margin-top: 1.1em;
}

#intro .sharing a
{
    padding: 0.2em;
}

#intro .sharing a:link * {
    text-decoration: none;
    color: #AAA;
}

#intro .sharing a:visited * {
    text-decoration: none;
    color: #AAA;
}

#intro .sharing a:hover * {
    text-decoration: none;
    color: #333;
}

#intro .sharing a:active * {
    text-decoration: none;
    color: #AAA;
}

#intro .subscribe
{
    direction: ltr;
    text-align: center;
    font-size: 1.0em;
    margin-top: 1.0em;
    margin-bottom: 2.0em;
}

#intro .subscribe i
{
    margin-left: 0.25em;
    margin-right: 0.25em;
}

#intro .subscribe a:link * {
    text-decoration: none;
    color: #333;
}

#intro .subscribe a:visited * {
    text-decoration: none;
    color: #333;
}

#intro .subscribe a:hover * {
    text-decoration: none;
    color: #999;
}

#intro .subscribe a:active * {
    text-decoration: none;
    color: #333;
}

#intro .subscribe .social ul {
	margin: 0;
	padding: 0;
}

#intro .subscribe .social li {
	background: none;
	display: inline-block;
}

figure.highlight {
    margin-bottom: 1.0em;
}

.post-title-fa {
    direction: rtl;
    text-align: center;
    font-family: Yekan,"Open Sans","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","Source Han Sans CN","WenQuanYi Micro Hei",Arial,sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 1.5em 0;
    letter-spacing: 1px;
    color: #151515;
}

.post-content {
    direction: rtl;
    text-align: justify;
}

.post-image {
    display: block !important;
    margin: 0 auto !important;
    margin-top: 2.0em;
    margin-bottom: 1.0em;
    width: auto;
    height: auto;
}

.post-image-title {
    display: block;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.5em;
    margin: 1.1em;
    margin-bottom: 2.0em;
    color: #151515;
}

.poem, .poem p {
    font-style: oblique;
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
}

figure, figure * {
    direction: ltr !important;
}

* + table {
    border-style:solid;
    border-width:1px;
    border-color:#e7e3e7;
}
 
* + table th, * + table td {
    border-style:dashed;
    border-width:1px;
    border-color:#e7e3e7;
    padding-left: 3px;
    padding-right: 3px;
}
 
* + table th {
    border-style:solid;
    font-weight:bold;
    background: url("/images/noise.png?1330434582") repeat scroll left top #f7f3f7;
}
 
* + table th[align="left"], * + table td[align="left"] {
    text-align:left;
}
 
* + table th[align="right"], * + table td[align="right"] {
    text-align:right;
}
 
* + table th[align="center"], * + table td[align="center"] {
    text-align:center;
}

footer .copy {
    direction: rtl;
}

footer .social {
    float: left !important;
}

body form .search {
    direction: rtl;
}


