{% if config.extra.minimal_blog_copyright %}
<div class="copyright">
    {{ config.extra.minimal_blog_copyright }}
</div>
{% endif %}
{% if config.extra.minimal_blog_license %}
<div class="license">
    {{ config.extra.minimal_blog_license }}
</div>
{% endif %}
<div class="credits">
    {% if config.extra.minimal_blog_powered_by %}
    <div class="powered-by">
        Powered by: {{ config.extra.minimal_blog_powered_by }}
    </div>
    {% endif %}
    <div class="theme-by">
        Theme by: <a href="https://github.com/NuLL3rr0r/gutenberg-theme-minimal-blog" alt="A minimal blog theme for Gutenberg" title="A minimal blog theme for Gutenberg">Minimal Blog</a>
    </div>
</div>
