<!-- Yandex Verification -->
<meta name="yandex-verification" content="fa87869bf4989269" /><Paste>

<link rel="stylesheet" href="{{ "css/custom.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/custom-rtl.css" | absURL }}" />

<link rel="stylesheet" href="{{ "css/font-face-vazir-bold.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/font-face-vazir-light.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/font-face-vazir-medium.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/font-face-vazir-regular.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/font-face-vazir-thin.css" | absURL }}" />

<link rel="stylesheet" href="{{ "css/font-face-roboto-condensed-v16-latin-bold-italic.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/font-face-roboto-condensed-v16-latin-bold.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/font-face-roboto-condensed-v16-latin-italic.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/font-face-roboto-condensed-v16-latin-light-italic.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/font-face-roboto-condensed-v16-latin-light.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/font-face-roboto-condensed-v16-latin-regular.css" | absURL }}" />

<link rel="stylesheet" href="{{ "css/font-face-roboto-v18-latin-black-italic.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/font-face-roboto-v18-latin-black.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/font-face-roboto-v18-latin-bold-italic.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/font-face-roboto-v18-latin-bold.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/font-face-roboto-v18-latin-italic.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/font-face-roboto-v18-latin-light-italic.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/font-face-roboto-v18-latin-light.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/font-face-roboto-v18-latin-medium-italic.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/font-face-roboto-v18-latin-medium.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/font-face-roboto-v18-latin-regular.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/font-face-roboto-v18-latin-thin-italic.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/font-face-roboto-v18-latin-thin.css" | absURL }}" />
