<div id="discourse-comments">
  <center>
    <noscript>
      Please enable JavaScript to view the <a href="<%- theme.discourse_url %>">comments powered by Discourse.</a>
    </noscript>
  </center>
</div>

<script type="text/javascript">
  DiscourseEmbed = { discourseUrl: '<%- theme.discourse_url %>',
                     discourseEmbedUrl: '<%= url %>' };

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>

