body,
.main-explain-area,
div.panel-body a.list-group-item,
.navbar-custom,
footer .copyright,
.post-preview .post-entry,
.intro-header.big-img .img-desc,
.pager li a {
    font-family: 'Vazir', 'Roboto', 'Tahoma', 'sans-serif';
}

.navbar-custom #main-navbar .navbar-right li:first-child a, .post-preview .post-meta, .post-heading .post-meta-tags, .posts-list .post-preview .post-meta-tags {
    font-family: 'Vazir', 'Roboto', 'Tahoma', 'sans-serif' !important;
}

h1, h2, h3, h4, h5, h6,
.navbar-custom .navbar-brand,
.navbar-custom #main-navbar .navbar-right li a,
.blog-tags,
.blog-tags a,
.intro-header .page-heading .page-subheading,
.intro-header .post-heading .post-subheading,
.well, .intro-header .well p,
.posts-list .post-preview .post-meta,
.post-heading .post-meta,
.posts-list .post-preview .post-entry figure figcaption p,
.blog-post figure figcaption p,
.blogarchive-heading,
.blog-archives .blog-archives-grouped-by-date .blog-archives-year,
.blog-archives .blog-archives-grouped-by-date .blog-archives-post .blog-archives-post-date,
.blog-archives .blog-archives-grouped-by-date .blog-archives-post .blog-archives-post-date span,
.blog-archives .blog-archives-grouped-by-date .blog-archives-post .blog-archives-post-title,
.blog-archives .blog-archives-grouped-by-date .blog-archives-post .blog-archives-post-title a,
.portfolio .project .extra-info th {
    font-family: 'Vazir', 'Roboto Condensed', 'Roboto', 'Tahoma', 'sans-serif';
}

.navbar-custom #main-navbar .navbar-right li:first-child a,
.post-preview .post-meta, .post-heading .post-meta-tags,
.posts-list .post-preview .post-meta-tags {
    font-family: 'Roboto Condensed', 'Roboto', 'sans-serif';
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.6em;
}

.navbar-custom .nav .navlinks-container .navlinks-parent {
    direction: rtl;
}

.navbar-custom .navbar-right {
    text-align: right;
    margin-right: 0;
}

@media (min-width: 1152px) {
    .navbar-custom .navbar-header,
    .navbar-custom .navbar-header .navbar-brand {
        float: right;
    }

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0 !important;
        margin-right: -15px !important;
    }

    .navbar-custom #main-navbar .navbar-right {
        float: left !important;
        margin-right: 0 !important;
        margin-left: -15px !important;
    }

    .navbar-custom #main-navbar .navbar-right li {
        float: right;
    }
}

@media (max-width: 1151px) {
    .navbar-custom .navbar-header .navbar-brand {
        float: right;
    }

    .navbar-custom .navbar-header .navbar-toggle {
        float: left;
        margin-right: 0;
        margin-left: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1151px) {
    .navbar-custom .nav .navlinks-container {
        text-align: right !important;
    }

    .navbar-custom .nav .navlinks-container .navlinks-children a {
        padding-right: 30px !important;
    }
}

@media (max-width: 768px) {
    .navbar-custom .nav .navlinks-container .navlinks-children a {
        padding-right: 30px !important;
    }
}

.intro-header .page-heading .page-subheading,
.well, .intro-header .well p {
    direction: rtl;
}

footer,
footer .copyright {
    direction: rtl;
}

.posts-list .post-preview,
.posts-list .post-preview .post-title,
.posts-list .post-preview .post-entry,
.posts-list .post-preview .post-entry p,
.post-heading,
.post-heading .post-meta,
.blog-post,
.blog-post p {
    direction: rtl;
}

.post-meta-inline-block {
    display: inline-block;
    font-size: 16px;
}

.post-preview .post-read-more {
    float: left;
}

.blog-tags:before {
    content: "تگ ها: ";
}

.blog-tags a:before {
    content: "";
}

.blog-tags a {
    direction: initial;
}

.blog-post .blog-tags {
    text-align: left;
}

.posts-list .post-preview .post-entry {
    margin-top: 1.5em;
}

.pager .previous > a, .pager .previous > span {
    float: right;
}

.pager .next > a, .pager .next > span {
    float: left;
}

code, kbd, pre, samp {
    direction: initial;
}

.codeblock, .highlight {
    direction: initial;
}

.box figure figcaption {
    text-align: center;
}

.box figure figcaption h4 {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}

.pswp__caption .pswp__caption__center {
    direction: rtl;
}

.blogarchive-heading {
    direction: rtl;
}

.blog-archives {
    direction: rtl;
}

.portfolio th,
.portfolio td {
    text-align: justify;
}

.footnotes {
    direction: rtl;
}

#social-share {
    text-align: right;
}

#social-share .list-inline {
    margin-left: 0;
    margin-right: -5px;
}

ul.share li:last-of-type {
    margin-right: 5px;
}

.see-also {
    direction: rtl;
    font-family: 'Vazir', 'Roboto Condensed', 'Roboto', 'Tahoma', 'sans-serif';
}

.pswp__caption__center {
    text-align: center !important;
}
