/* font-face-vazir-black.css */
@font-face {
    font-family: 'Vazir';
    font-weight: 900;
    src: local('Vazir Black'), local('Vazir-Black'),
         url('../fonts/vazir-black.woff2') format('woff2'),
         url('../fonts/vazir-black.woff') format('woff');
}

/* font-face-vazir-bold.css */
@font-face {
    font-family: 'Vazir';
    font-weight: 700;
    src: local('Vazir Bold'), local('Vazir-Bold'),
         url('../fonts/vazir-bold.woff2') format('woff2'),
         url('../fonts/vazir-bold.woff') format('woff');
}

/* font-face-vazir-light.css */
@font-face {
    font-family: 'Vazir';
    font-weight: 300;
    src: local('Vazir Light'), local('Vazir-Light'),
         url('../fonts/vazir-light.woff2') format('woff2'),
         url('../fonts/vazir-light.woff') format('woff');
}

/* font-face-vazir-medium.css */
@font-face {
    font-family: 'Vazir';
    font-weight: 500;
    src: local('Vazir Medium'), local('Vazir-Medium'),
         url('../fonts/vazir-medium.woff2') format('woff2'),
         url('../fonts/vazir-medium.woff') format('woff');
}

/* font-face-vazir-regular.css */
@font-face {
    font-family: 'Vazir';
    font-weight: 400;
    src: local('Vazir'), local('Vazir Regular'), local('Vazir-Regular')
         url('../fonts/vazir-regular.woff2') format('woff2'),
         url('../fonts/vazir-regular.woff') format('woff');
}

/* font-face-vazir-thin.css */
@font-face {
    font-family: 'Vazir';
    font-weight: 100;
    src: local('Vazir Thin'), local('Vazir-Thin'),
         url('../fonts/vazir-thin.woff2') format('woff2'),
         url('../fonts/vazir-thin.woff') format('woff');
}
