<!--
    Forked from
    https://gitlab.com/Keats/vincent.is/blob/master/templates/resume.html
-->

<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            Mamadou Babaei
        </title>

        {{ $normalize_styles := resources.Get "css/normalize.css" }}
        {{ $resume_styles := resources.Get "css/resume.css" }}
        {{ $font_face_roboto_styles := resources.Get "css/font-face-roboto.css" }}
        {{ $font_face_roboto_condensed_styles := resources.Get "css/font-face-roboto-condensed.css" }}

        {{ $resume_styles_bundle := slice $normalize_styles $resume_styles $font_face_roboto_styles $font_face_roboto_condensed_styles | resources.Concat "css/resume-bundle.css" | minify | resources.Fingerprint "sha512" }}
        <link rel="stylesheet" href="{{ $resume_styles_bundle.Permalink }}" integrity="{{ $resume_styles_bundle.Data.Integrity }}">

        <link rel="stylesheet" href="{{ "fontawesome/css/all.css" | absURL }}">
    </head>

    <body>
        <div class="container meta">
            <div class="container title">
                <h1>Mamadou Babaei</h1>

                <div class="tagline">C++ / Unreal Engine 4 Developer</div>

                <div class="contact">
                    <ul>
                        <li>
                            <i class="fas fa-home"></i>&nbsp;<a href="https://www.babaei.net/">babaei.net</a>
                        </li>
                        <li>
                            {{ if .Site.Author.github }}
                            <i class="fab fa-github"></i>&nbsp;<a href="https://github.com/{{ .Site.Author.github }}">github.com/NuLL3rr0r</a>
                            {{ end }}
                        </li>
                        <li class="display-hidden print-visible">
                            <i class="fas fa-envelope"></i>&nbsp;&#105;&#110;&#102;&#111;&#64;&#98;&#97;&#98;&#97;&#101;&#105;&#46;&#110;&#101;&#116;
                        </li>
                        <li class="display-visible print-hidden">
                            <i class="fas fa-print"></i>&nbsp;<a href="javascript:window.print()">Print</a>
                        </li>
                    </ul>
                </div>
           </div>

            <div class="container intro">
                <h2>Introduction</h2>
                <p>
                I have been working as a professional game developer for almost a decade, having acquired a wealth of experience that ranges from C++ to Unreal Engine 4 game development. Moreover, I have been involved with three major video games, namely, <a href="https://vimeo.com/298723067">Reminiscence</a>, <a href="https://vimeo.com/175407810">Resonance (a.k.a. Ghalb-e Simorgh)</a>, and <a href="https://vimeo.com/175401743">Thrateon (a.k.a. Age of Pahlevans II, or, Asr-e Pahlevanan 2)</a>, based on Unreal technology.
                </p>
                <p>
                    Although I have chiefly assumed the role of a developer in game development industry, having an unquenchable desire to thrive as well as years of experience to rely upon, I enjoy being challenged and working on projects that require me to work outside my knowledge set and comfort zone.
                </p>
            </div>

            <div class="container experiences">
                <h2>Notable Work Experience</h2>

                <div class="timeline">
                    <div class="work">
                        <div class="work-dot"></div>
                        <h3>
                            Lead Game Programmer @ Atitel
                            <span class="work-info">
                                <i class="fa fa-calendar-o"></i>
                                January 2017 - October 2018
                            </span>
                        </h3>
                        <ul>
                            <li>
                                Developed <a href="https://vimeo.com/298723067">Reminiscence</a>, a first-person shooter (FPS) video game in Unreal Engine 4 and C++ targeting Microsoft Windows and SteamOS
                            </li>
                            <li>
                                System administration; directly responsible for maintenance of the development infrastructure (e.g. LDAP server, source control management, issue tracker, wiki, …) based on FreeBSD
                            </li>
                        </ul>
                    </div>

                    <div class="work">
                        <div class="work-dot"></div>
                        <h3>
                            C++ / Unix Programmer @ Various Companies
                            <span class="work-info">
                                <i class="fa fa-calendar-o"></i>
                                February 2013 - December 2016
                            </span>
                        </h3>
                        <ul>
                            <li>
                                Non-gamedev software development at various companies
                            </li>
                        </ul>
                    </div>

                    <div class="work">
                        <div class="work-dot"></div>
                        <h3>
                            Game Programmer @ RAS Games
                            <span class="work-info">
                                <i class="fa fa-calendar-o"></i>
                                November 2010 - February 2013
                            </span>
                        </h3>
                        <ul>
                            <li>
                                Worked on <a href="https://vimeo.com/175407810">Resonance (a.k.a. Ghalb-e Simorgh)</a>, a platformer 3d video game developed in Unreal Development Kit (a.k.a. UDK) for Microsoft Windows
                            </li>
                            <li>
                                Worked on <a href="https://vimeo.com/175401743">Thrateon (a.k.a. Age of Pahlevans II, or, Asr-e Pahlevanan 2)</a>, a role-playing (RPG) 3d video game developed in Unreal Development Kit (a.k.a. UDK) for Microsoft Windows
                            </li>
                            <li>
                                Game-play programming and scripting (UDK, UnrealScript)
                            </li>
                            <li>
                                UI programming using Scaleform Gfx (ActionScript 2.0 and 3.0)
                            </li>
                            <li>
                                Tools programming (C++, C#, STL, Boost, Qt, QML, Wt, WPF, ZeroMQ, ...)
                            </li>
                            <li>
                                UDK engine extension using C/C++ through a technic called DLL-Bind in order to extend UDK capabilities and write custom in-house systems for our games (e.g. save/load, srt subtitles, RPC, ...)
                            </li>
                        </ul>
                    </div>

                    <div class="work">
                        <div class="work-dot"></div>
                        <h3>
                            Programmer and Web Developer @ Various Companies
                            <span class="work-info">
                                <i class="fa fa-calendar-o"></i>
                                January 2002 - October 2010
                            </span>
                        </h3>
                        <ul>
                            <li>
                                Mostly web development and also worked as a part-time teacher
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </body>
</html>
