{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
        {{ .Content }}

        {{ if .Site.Params.socialShare }}
            <section id="social-share">
              <ul class="list-inline footer-links">
                {{ partial "share-links" . }}
              </ul>
            </section>
        {{ end }}

        {{ if .Params.tags }}
          <div class="blog-tags">
            {{ range .Params.tags }}
              <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
            {{ end }}
          </div>
        {{ end }}
      </article>

      <hr />

      {{ if ne .Type "page" }}
        {{ $related := .Site.RegularPages.Related . | first 4 }}
        {{ with $related }}
          <div class="related-content">
              <h3>بیشتر بخوانید</h3>
              <ul>
                {{ range . }}
                  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
              </ul>
          </div>
        {{ end }}
      {{ end }}

      {{ if ne .Type "page" }}
        <ul class="pager blog-pager">
          {{ if .PrevInSection }}
            <li class="previous">
              <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">{{ i18n "previousPost" }} &rarr;</a>
            </li>
          {{ end }}
          {{ if .NextInSection }}
            <li class="next">
              <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">&larr; {{ i18n "nextPost" }}</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}


      {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (and .Site.Params.comments (ne .Type "page"))) }}
        {{ if .Site.DisqusShortname }}
          <div class="disqus-comments">
            {{ template "_internal/disqus.html" . }}
          </div>
        {{ end }}
        {{ if .Site.Params.staticman }}
          <div class="staticman-comments">
            {{ partial "staticman-comments.html" . }}
          </div>
        {{ end }}
      {{ end }}

    </div>
  </div>
</div>
{{ end }}
