<section>
  <h1>About Me</h1>
  <div style="padding: 8px 0 0 0; margin:0; font-size: 0.9em;">
    <a style="float: left; padding: 0; margin: 0 16px 0 0; text-decoration: none; white-space: normal;" href="/babaei-hires.jpg" target="_blank">
      <img style="display: block; padding: 0; margin: 0;" src="/babaei-lowres.jpg" />
    </a>
    So, I'm <em>Mohammad</em> and this is my blog where I like to share what I've learnt from past few years, during my day to day experiments. Besides, I'm very fond of <a href="http://en.wikipedia.org/wiki/Free_and_open_source_software" target="_blank">FLOSS</a> world and also enjoy game development. Additionally, My favorite FLOSS projects are <a href="http://www.freebsd.org/" target="_blank">FreeBSD</a>, <a href="http://www.boost.org/" target="_blank">Boost</a> and <a href="http://www.cmake.org/" target="_blank">CMake</a>, just to mention a few. Other than that, I'm a die-hard metal fan and my favorite bands of all times are  <a href="http://www.insomnium.net/‎" target="_blank">Finish melodic death metal band Insomnium</a> and <a href="http://www.archenemy.net/‎" target="_blank">Swedish melodic death metal band Arch Enemy</a>.
    <br />
    Please feel free to drop me a line <a href="https://twitter.com/NuLL3rr0r" target="_blank">@NuLL3rr0r</a> on Twitter, or, contact me by my email at <s><em>info [ at ] babaei.net</em></s> if you wish to do so.
    <div style="clear: both; float: none;" />
  </div>
</section>
